
	<div class="main-container container-fluid">
		
		
		

		<div class="header">
			<h1>SOCIONIC TREE</h1>
		</div>
		<div class="content row">
			<div class="block col-md-12">
				<div class="row">
					<div class="col-md-6">
						<img src="img/1soc.jpg" height="329" width="282" alt="dont wanna display">
					</div>
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="row">

					<div class="col-md-4">
						<div class="log-form reg-form animated logg" ng-show="regg">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Имя пользователя" ng-model="regData.login">
							</div>
							<div class="input-group">
								<input type="password" class="form-control" placeholder="Пароль" ng-model="regData.password">
							</div>
							<button class="btn btn-default" ng-click="registration()">Регистрация</button>
						</div>	
					</div>

					<div class="col-md-4">
						<div class="row-button">
							<button class="btn btn-default" id="reg-click" ng-click="regg = !regg">ПРИСОЕДИНИТЬСЯ</button>
							<div id="log-click"><span ng-click="logg = !logg">Уже зарегестрированы?</span></div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="reg-form animated regg" ng-show="logg">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Имя пользователя" ng-model="logData.login">
							</div>
							<div class="input-group">
								<input type="password" class="form-control" placeholder="Пароль" ng-model="logData.password">
							</div>
							<button class="btn btn-default" ng-click="logIn()">Вход</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- <footer class="footer">
		Satan Team Corp
		<button class="btn">Registration</button>
	</footer> -->
