
	<div class="main-container container-fluid">
		<div class="header">
			<a ng-click="goHome()" title=""><h1>SOCIONIC TREE</h1></a>
		</div>
		<div class="content row">
			
			<div class="block col-md-12">
				<div class="row main-row">
					<div class="col-md-3" style="font-family: none;">
						Вы:
					</div>
					<div class="col-md-4" style="font-family: none;">
						{{infoData.login}}
					</div>
					<div class="col-md-4">
						{{infoData.soctype}}
					</div>
					<div class="col-md-1" style="display: none;">
						<button class="btn btn-default"><b>-</b></button>
					</div>
				</div>
				<p style="margin; auto;margin-top: 25px;">{{message}}</p>
				<hr style=" border: 0;height: 1px;background: #333;">
			</div>

			<div class="block col-md-12">
				<div class="row main-row" >
					<div class="col-md-4">
						<input type="text" placeholder="Имя друга" class="form-control" ng-model="friendData.login" style="font-family: none;">
					</div>
					<div class="col-md-4">
						<select ng-model="friendData.soctype" ng-options="type.id as type.name for type in socTypes.data" class="form-control">
							<option value="" disabled selected>Социотип</option>
						</select>
					</div>
					<div class="col-md-4">
						<button class="btn btn-default" ng-click="addFriend()">Добавить друга</button>
					</div>
				</div>
				<hr style=" border: 0;height: 1px;background: #333;">
			</div>

			<div class="block col-md-12" id="description">
				<div class="row main-row">
					<div class="col-md-3" style="font-family: none;">
						Логин
					</div>
					<div class="col-md-4">
						Социотип
					</div>
					<div class="col-md-4">
						Отношение
					</div>
					<div class="col-md-1" style="display: none;">
						<button class="btn btn-default"><b>-</b></button>
					</div>
				</div>
				<p style="margin; auto;margin-top: 25px;">{{message}}</p>
				<hr style=" border: 0;height: 1px;background: #333;">
			</div>
			
			<!--GET THE ROCK BEGIN-->
			<div class="block col-md-12" ng-repeat="friend in friendArray">
				<div class="row main-row">
					<div class="col-md-3" style="font-family: none !important;">
						{{friend.name}}
					</div>
					<div class="col-md-4">
						{{friend.soctype}}
					</div>
					<div class="col-md-4">
						{{friend.relation}}
					</div>
					<div class="col-md-1">
						<button class="btn btn-default" style="width: 100px;" ng-click="deleteFriend(friend.name)"><b>-</b></button>
					</div>
				</div>
				<hr style=" border: 0;height: 1px;background: #333;">
			</div>
			<!--GET THE ROCK END-->

			<div class="col-md-12">
				<button class="btn btn-default" ng-click="logOut()" style="margin-top: 25px;">ВЫХОД</button>
			</div>

		</div>
	</div>

	<!-- <footer class="footer">
		Satan Team Corp
		<button class="btn">Registration</button>
	</footer> -->
