<div class="header">
	<a ng-click="goHome()" title=""><h1>SOCIONIC TREE</h1></a>
</div>
<div class="row">
	<div class="col-md-12 header-image">
		<img src="app/img/cool2.jpg" alt="sorry" class="img-responsive">
	</div>

	<div class="col-md-12">
		<div class="registration">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Имя пользователя" aria-describedby="basic-addon1" ng-model="regData.login">
			</div>
			<div class="input-group">
			 	<input type="password" class="form-control" placeholder="Пароль" aria-describedby="basic-addon1" ng-model="regData.password1">
			</div>
			<div class="input-group">
			 	<input type="password" class="form-control" placeholder="Повторите пароль" aria-describedby="basic-addon1" ng-model="regData.password2">
			</div>
			
			<div class="input-group">
				<select ng-model="regData.soctype" ng-options="type.id as type.name for type in socTypes.data" class="form-control">
					<option value="" disabled selected>Социотип</option>
				</select>
				<!--<select class="form-control" id="sel1">
				    <option value="" disabled selected>Социотип</option>
				    <option ng-repeat="type in socTypes.data" ng-model="regData.soctype">{{type.name}}</option>
				</select>-->
			</div>
			
			<div class="input-group">
				<button class="btn btn-default" ng-click="registration()" style="margin-top: 25px; width: 150px;">РЕГИСТРАЦИЯ</button>
			</div>

		</div>
	</div>
</div>
	