<div class="Error: source does not appear to be markup. container">
    <div class="header">
        <a ng-click="goHome()" title="">
            <h1>SOCIONIC TREE</h1>
        </a>
    </div>
    <div class="content row">
        <div class="block col-md-12">
            <div class="row">
                <!-- <div class="col-md-12 header-image">
						<img ng-src="{{helloImage}}" alt="sorry" class="img-responsive" style="height:400px;">
						<img ng-style="{'background-image': 'url(' + backgroundStyle + ')'}" alt="sorry" class="img-responsive" style="height:400px;">
					</div> -->
                <div class="col-md-12">
                    Соционика - это наука, изучающая процесс обмена информацией между человеком и внешним миром, т.е. каким образом люди воспринимают, перерабатывают и выдают информацию. Зная соционику, вы сможете всегда правильно подбирать свое окружение: с кем лучше
                    работать, отдыхать и кого выбрать в качестве спутника жизни. Можно научиться корректировать свое поведение, не доводя общение до конфликта, если жизнь столкнула вас с неподходящим для вас человеком. Соционика поможет вам лучше разобраться в себе,
                    найти свое место в обществе и в мире. Давно уже известно, что нет универсальных людей, способных реализовать себя в любой деятельности, а эта наука дает возможность подобрать наиболее подходящий род занятий. Соционика поможет вам лучше понимать
                    возможности и способности других людей, что можно требовать от человека и что от него ожидать.
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">

                <div class="col-md-12" style="margin: auto;">
                    <div class="row-button">
                        <button class="btn btn-default" id="reg-click" ng-click="goToRegistration()">ПРИСОЕДИНИТЬСЯ</button>
                        <div id="log-click">
                            <span ng-click="goToLogin()">Уже зарегестрированы?</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
